---
import { getCollection } from "astro:content";
import Pagination from "../../components/Pagination.astro";
import PostCard from "../../components/PostCard.astro";
import PostsSidebar from "../../components/PostsSidebar.astro"; // Seu componente de sidebar
import BaseLayout from "../../layouts/BaseLayout.astro";
import { sortByDate } from "../../lib/blogUtils";

const posts = (await getCollection("blog")).sort(sortByDate);

const { slug } = Astro.params;
const currentPageIndex = slug && !isNaN(Number(slug)) ? Number(slug) : 1;

const postsPerPage = 4;
const indexOfLastPost = currentPageIndex * postsPerPage;
const indexOfFirstPost = indexOfLastPost - postsPerPage;
const currentPosts = posts.slice(indexOfFirstPost, indexOfLastPost);

const pageCount = Math.ceil(posts.length / postsPerPage);

console.log(
  currentPageIndex,
  postsPerPage,
  indexOfLastPost,
  indexOfFirstPost,
  pageCount,
);
---

<BaseLayout title="TauOS | Blog">
  <main
    class="flex flex-col lg:flex-row justify-center items-center lg:items-start gap-8 p-4"
  >
    <div
      class="flex-1 flex flex-col items-center justify-start gap-4 max-w-4xl h-screen"
    >
      <section class="card bg-neutral text-neutral-content w-full max-w-xl">
        <div class="card-body items-center text-center">
          <h2 class="card-title">Blog Posts</h2>
          <p>Follow the TauOS development by reading non-formal blog posts.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Follow feed</button>
          </div>
        </div>
      </section>

      <section
        class="flex flex-row justify-center items-stretch flex-wrap gap-4 w-full"
      >
        {
          currentPosts.length > 0 ? (
            currentPosts.map((post) => <PostCard post={post} />)
          ) : (
            <p>No posts found! :/</p>
          )
        }
      </section>
    </div>

    <div class="flex flex-col items-center lg:hidden">
      <Pagination
        collection="blog"
        pageIndex={currentPageIndex}
        pageCount={pageCount}
      />
    </div>

    <PostsSidebar pageIndex={currentPageIndex} pageCount={pageCount} />
  </main>
</BaseLayout>
